* {
  box-sizing: border-box;
}


.heavyTable th {
    text-align: center;
  background: steelblue;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
.heavyTable tr {
  border-bottom: 1px solid #cccccc;
}
.heavyTable tr:last-child {
  border-bottom: 0px;
}
.heavyTable td {
  text-align: center;
  border-right: 1px solid #cccccc;
  padding: 20px;
  transition: all 0.2s;
}
.heavyTable td:last-child {
  border-right: 0px;
}
.heavyTable .selected {
   background-color: #a0baff;

}
.heavyTable tr:hover {
    background-color: #e8ebff ;
}
.heavyTable td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 90%;
}
.heavyTable td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}


.heavyTable {
      width: 100%;
  max-width: 600px;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}

